
    



@media (min-width: 751px){ 
body { 
    font-size: 20px !important;
}

.left { 
padding-top: 1em;    
}

.scale { 
    transform: scale(1.5) !important;  
    transition-duration: 600ms;
    color: #FFC300;
    background-color: white;
    border: 2px black solid;
   
    
}

}



@media  (min-width:400px) and (max-width:750px) { 
 


 .scale { 
    transform: scale(1.2) !important;  
    transition-duration: 600ms;
    color: #FFC300;
    background-color: white;
    border: 2px black solid;
   
    
}

}


.display-off { 
    display: none; ;
}

body { 
    background-color: #FF5733 ;
    font-size: 10px;
}

header { 

    display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   text-align: center;
   margin: 10%;
   margin-bottom: 0;

}

.header { 
    font-family: 'Press Start 2P', cursive;
}

button { 
    color: black; 
}
button:hover { 
    cursor: pointer;
}


#header-btns { 
    display: flex;
    justify-content: space-evenly; 
    font-family: 'Press Start 2P', cursive;
}
#again-btn { 
    width: 100px;
    height: 50px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px; 

}

#next-level { 
    width: 100px;
    height: 50px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px; 
    
}

main { 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    color: white; 
    -webkit-text-stroke-width: .1px; 
    -webkit-text-stroke-color: black;
    font-family: 'Press Start 2P', cursive; 
   
}

.level { 
    border: 2px black solid; 
    padding: 1em;
    background: #FFC300;
}


.left { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guess { 
    height: 2em;
    width: 200px;
    margin: .5em;
}

#input-btn { 
    height: 2em;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
}


.right { 
    display: flex;
    flex-direction: column;
    align-items: start; 
    justify-content: start;
}

.space { 
    font-size: 8px; ;
}

.number-container { background-color: white; 
border: 2px black solid;
margin: 5px;
width: 100px;
height: 50px;
}

.the-number { 
    padding: 1em;
    text-align: center; 
    font-size: 10px; 
   
    
}

.addThree { 
    position: relative;
    font-size: 12px;
    opacity: 0;
    color: #FF5733;
}
.addThreeAd { 
    animation: fadeinout 2s;   
}


.lives-left { 
    animation: lives 1s infinite; 

}


/* For Correct Number that was guesses to be actived  */
.scale { 
    transition-duration: 600ms;
    color: #FFC300;
    font-size: 16px;
    background-color: white;
 
    
    
}


@keyframes lives {
    0% { 
        transform: scale(1);
    }
    50%{ 
        transform: scale(); 
        color: yellow; 

    }
    100% { 
        transform: scale();
    }
}



@keyframes fadeinout { 
  100%{ 
    opacity: 0;
  }
    50% { 
        opacity: 1;
    }
    0%{ 
        opacity: 0;
    }
}



/*Dialog-----------------------*/ 

#openModal { 
    position:absolute; 
    top: 20px;
    background-color: #FFC300;
    font-family:'Press Start 2P', cursive; 
}

.modal{ 
    gap: 3em;
    inset: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    backdrop-filter: blur(5px); 
    text-align: center;
    background: white; 

    
    
}

.modal::backdrop { 
    opacity: 0;
    background: rgb(000/0.5); 
}



dialog>ul>li { 
    list-style: none;
    padding: .5em;
}

dialog>button{ 
    
    font-family: 'Press Start 2P', cursive;
    background-color: #FFC300;
    border-radius: 2%;
    height: 4em;
 }